.imglogo{
    background-image: url("../assets/Open Books.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid red;
    border-radius: 5px;
    width: 50px;
    
  }